@model IEnumerable<EscalaTipo>
@using MapaDaForca.Helper;

@{
    ViewBag.Title = "Tipo da Ausência";
    ViewBag.Breadcrumbs = new List<Breadcrumb>()
{
new Breadcrumb() { Name = "Dashboard", Link = "/" },
new Breadcrumb() { Name = "Tipo da Ausência", Link = @Url.Action("Index","EscalaTipo"), IsActive = true}
};

    ViewData["CreateButtonLink"] = Url.Action("Create", "EscalaTipo");
}

<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(x => x.Descricao)</th>
                            <th>@Html.DisplayNameFor(x => x.EscalaTipoDetalhe)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var escalaTipo in Model)
                        {
                            <tr>
                                <td><a href="@Url.Action("Detail", "EscalaTipo", new {id = escalaTipo.Id})">@escalaTipo.Descricao</a></td>
                                <td>@escalaTipo.EscalaTipoDetalhe.EnumDisplayNameFor()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




