@model  IEnumerable<Escala>
@{
    ViewBag.Title = "Dashboard";
}

@inject SignInManager<Bombeiro> SignInManager
@inject UserManager<Bombeiro> UserManager

@{
    var fullUser = UserManager.GetUserAsync(User).Result;
}


<div class="card m-b-20">
    <div class="card-body">
        <div>
            <center><h5>Bem vindo, @fullUser.Nome </h5></center>
            <br />
            <br />
        </div>

        <div class="row">
            <div class="col-xl-6 col-md-6">
                <div class="card mini-stat bg-primary">
                    <div class="card-body mini-stat-img">
                        <div class="mini-stat-icon"><i class="mdi mdi-fire float-right"></i></div>
                        <div class="text-white">
                            <h6 class="text-uppercase mb-3">Escala para @DateTime.Now.Year.ToString() </h6>
                            <h4 class="mb-4">@Model.Where(x => x.EscalaTipoId == Guid.Empty || x.EscalaTipo?.EscalaTipoDetalhe == MapaDaForca.Model.Enums.EscalaTipoDetalhe.Disponivel).Count()</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="card mini-stat bg-primary">
                    <div class="card-body mini-stat-img">
                        <div class="mini-stat-icon"><i class="mdi mdi-beach float-right"></i></div>
                        <div class="text-white">
                            <h6 class="text-uppercase mb-3">Férias marcadas em @DateTime.Now.Year.ToString()</h6>
                            <h4 class="mb-4">@Model.Where(x => x.EscalaTipo?.EscalaTipoDetalhe == MapaDaForca.Model.Enums.EscalaTipoDetalhe.Ferias).Count()</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6">
                <div class="card mini-stat bg-primary">
                    <div class="card-body mini-stat-img" style="background-color: #6f849a;">
                        <div class="mini-stat-icon"><i class="mdi mdi-fire float-right"></i></div>
                        <div class="text-white">
                            <h6 class="text-uppercase mb-3">Escala no mês </h6>
                            <h4 class="mb-4">@Model.Where(x => x.EscalaTipoId == Guid.Empty || x.EscalaTipo?.EscalaTipoDetalhe == MapaDaForca.Model.Enums.EscalaTipoDetalhe.Disponivel).Where(x => x.DtEscala.Month == DateTime.Now.Month).Count()</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="card mini-stat bg-primary" >
                    <div class="card-body mini-stat-img" style="background-color: #6f849a;">
                        <div class="mini-stat-icon"><i class="mdi mdi-beach float-right"></i></div>
                        <div class="text-white">
                            <h6 class="text-uppercase mb-3">Férias marcadas para o mês</h6>
                            <h4 class="mb-4">@Model.Where(x => x.EscalaTipo?.EscalaTipoDetalhe == MapaDaForca.Model.Enums.EscalaTipoDetalhe.Ferias).Where(x=> x.DtEscala.Month == DateTime.Now.Month).Count()</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @if (fullUser.PostoId == new Guid())
        {
            <div class="alert alert-warning" role="alert">
                <strong>
                    Dados pendentes! Favor indicar o Posto a qual pertence.
                    <a href="@Url.Action("Detail","Bombeiro", new { @id = fullUser.Id })">  Alterar</a>
                </strong>
            </div>
        }

        @if (fullUser.QuartelId == new Guid())
        {
            <div class="alert alert-warning" role="alert">
                <strong>
                    Dados pendentes! Favor indicar o Quartel a qual pertence.
                    <a href="@Url.Action("Detail","Bombeiro", new { @id = fullUser.Id })">  Alterar</a>
                </strong>
            </div>
        }
    </div>
</div>


