@using MapaDaForca.Helper;
@model IEnumerable<Escala>


<div class="card m-b-20 bombeiroEscalaSection">
    <div class="card-body">
        <h5 class="mt-0 header-title">Escala de <span id="dtEscalaList"></span> do quartel <span id="quartelList"></span></h5>
        <br />
        <table class="table table-striped mb-0">
            <tbody>

                <label>Período Diúrno</label>
            <thead>
                <tr>
                    <th style="width: 20%;">Nº Mecanogr.</th>
                    <th style="width: 25%;">Bombeiro</th>
                    <th style="width: 25%;">Função</th>
                    <th style="width: 30%;">Posto</th>
                </tr>
            </thead>
            @{ foreach (var escala in Model.Where(x => x.PeriodoDiurno == true).OrderBy(x => x.Bombeiro.Nome))
                {
                    <tr class="escalaLine" data-escalaLineiD="@escala.Id">
                        <td style="width: 20%;">@escala.Bombeiro.NumeroMecanografico</td>
                        <td style="width: 25%;"><a href=@Url.Action("Detail", "Bombeiro", new { @id = escala.BombeiroId })>@escala.Bombeiro.Nome</a></td>
                        <td style="width: 25%;">@escala.Funcao.Nome</td>
                        <td style="width: 30%;">@escala.Bombeiro.Posto.Nome</td>
                    </tr>
                }
            }
        </table>
        <br/>
        <br/>
        <table class="table table-striped mb-0">
            <label>Período Noturno</label>
            <thead>
                <tr>
                    <th style="width: 20%;">Nº Mecanogr.</th>
                    <th style="width: 25%;">Bombeiro</th>
                    <th style="width: 25%;">Função</th>
                    <th style="width: 20%;">Posto</th>
                </tr>
            </thead>
            @{ foreach (var escala in Model.Where(x => x.PeriodoDiurno == false).OrderBy(x => x.Bombeiro.Nome))
                {
                    <tr class="escalaLine" data-escalaLineiD="@escala.Id">
                        <td style="width: 20%;">@escala.Bombeiro.NumeroMecanografico</td>
                        <td style="width: 25%;"><a href=@Url.Action("Detail", "Bombeiro", new { @id = escala.BombeiroId })>@escala.Bombeiro.Nome</a></td>
                        <td style="width: 25%;">@escala.Funcao.Nome</td>
                        <td style="width: 30%;">@escala.Bombeiro.Posto.Nome</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#dtEscalaList").text($("#dtEscala").val());
        $("#quartelList").text($("#quartelId option:selected").text());
    });
</script>