@using MapaDaForca.Helper;
@model IEnumerable<Escala>


<div class="card m-b-20 bombeiroEscalaSection">
    <div class="card-body">
        <h5 class="mt-0 header-title">Escala de <span id="dtEscalaList"></span> do quartel <span id="quartelList"></span></h5>
        <br />

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#periodoDiurno" role="tab">Período Diurno</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#periodoNoturno" role="tab">Período Noturno</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active p-3" id="periodoDiurno" role="tabpanel">
                @{
                    if (Model.Where(x => x.PeriodoDiurno == true).Any())
                    {
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th style="width: 20%;">@Html.DisplayNameFor(x => x.Bombeiro.NumeroMecanografico)</th>
                                    <th style="width: 25%;">@Html.DisplayNameFor(x => x.Bombeiro.Nome)</th>
                                    <th style="width: 25%;">@Html.DisplayNameFor(x => x.FuncaoId)</th>
                                    <th style="width: 20%;">@Html.DisplayNameFor(x => x.Bombeiro.PostoId)</th>
                                </tr>
                            </thead>
                            @{ foreach (var escala in Model.Where(x => x.PeriodoDiurno == true).OrderBy(x => x.Bombeiro.Nome))
                                {
                                    <tr class="escalaLine" data-escalaLineiD="@escala.Id">
                                        <td style="width: 20%;">@escala.Bombeiro.NumeroMecanografico</td>
                                        <td style="width: 25%;"><a href=@Url.Action("Detail", "Bombeiro", new { @id = escala.BombeiroId })>@escala.Bombeiro.Nome</a></td>
                                        <td style="width: 25%;">@escala.Funcao.Nome</td>
                                        <td style="width: 30%;">@escala.Bombeiro.Posto.Nome</td>
                                    </tr>
                                }
                            }
                        </table>
                    }
                    else
                    {
                        <div class="text-white bg-primary">
                            <div class="card-body">
                                <blockquote class="card-blockquote mb-0">
                                    <p>Não há escalas definidas.</p>
                                </blockquote>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="tab-pane p-3" id="periodoNoturno" role="tabpanel">
                @{
                    if (Model.Where(x => x.PeriodoDiurno == false).Any())
                    {
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th style="width: 20%;">@Html.DisplayNameFor(x => x.Bombeiro.NumeroMecanografico)</th>
                                    <th style="width: 25%;">@Html.DisplayNameFor(x => x.Bombeiro.Nome)</th>
                                    <th style="width: 25%;">@Html.DisplayNameFor(x => x.FuncaoId)</th>
                                    <th style="width: 20%;">@Html.DisplayNameFor(x => x.Bombeiro.PostoId)</th>
                                </tr>
                            </thead>
                            @{ foreach (var escala in Model.Where(x => x.PeriodoDiurno == false).OrderBy(x => x.Bombeiro.Nome))
                                {
                                    <tr class="escalaLine" data-escalaLineiD="@escala.Id">
                                        <td style="width: 20%;">@escala.Bombeiro.NumeroMecanografico</td>
                                        <td style="width: 25%;"><a href=@Url.Action("Detail", "Bombeiro", new { @id = escala.BombeiroId })>@escala.Bombeiro.Nome</a></td>
                                        <td style="width: 25%;">@escala.Funcao.Nome</td>
                                        <td style="width: 30%;">@escala.Bombeiro.Posto.Nome</td>
                                    </tr>
                                }
                            }
                        </table>
                    }
                    else
                    {
                        <div class="text-white bg-primary">
                            <div class="card-body">
                                <blockquote class="card-blockquote mb-0">
                                    <p>Não há escalas definidas.</p>
                                </blockquote>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        //var DT = $("#dtEscala").val(moment().format('DD/MM/YYYY'));
        $("#dtEscalaList").text($("#dtEscala").val());
        $("#quartelList").text($("#quartelId option:selected").text());
    });
</script>