@model Companhia
@{
    ViewBag.Title = "Companhia: " + Model.Nome;
    ViewBag.Breadcrumbs = new List<Breadcrumb>()
{
new Breadcrumb() { Name = "Dashboard", Link = "/" },
new Breadcrumb() { Name = "Companhia", Link = @Url.Action("Index","Companhia")},
new Breadcrumb() { Name = Model.Nome, Link = @Url.Action("Detail","Companhia", new { @id = Model.Id }), IsActive = true}
};
    ViewData["DeleteButtonLink"] = Url.Action("Delete", "Companhia", new { @id = Model.Id });
}



<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    @Html.HiddenFor(x => x.Id)

                    <div class="form-group">
                        <label class="form-label">@Html.DisplayNameFor(m => m.Nome)</label>
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @type = "text", @required = "required" })
                    </div>
                    <div class="form-group">
                        <label>Batalhão</label>
                        <div>
                            <select class="form-control" asp-for="BatalhaoId" asp-items="@(new SelectList(@Model.Batalhoes,"Id","Nome"))">
                                @*<option value="">None</option>*@
                            </select>
                        </div>
                    </div>
                </form>
                <div class="form-group mb-0">
                    <div>

                        <button id="SaveCompanhia" class="btn btn-primary waves-effect waves-light">Guardar</button>
                        <button type="reset" class="btn btn-secondary waves-effect m-l-5" onclick="location.href='@Url.Action("Index", "Companhia")'">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {

        if ("@(ViewData["MessageCreate"])" != "") {
            $.notify("@(ViewData["MessageCreate"])", "success");
        }

        $("#SaveCompanhia").click(function (e) {

            e.preventDefault();

            $.ajax({
                url: '@Url.Action("Edit", "Companhia")',
                type: "POST",
                datatype: "json",
                data: $("#form").serialize()
            })
            .done(function (data) {
                if (data.success == true) {
                    $.notify(data.message, "success");
                }
                else {
                    $.notify(data.message, "error");
                }
            })
        });



        $('#Excluir').click(function () {
            $.ajax(
                {
                    type: "Delete",
                    url: "@Url.Action("Delete", "Companhia", new { @id = Model.Id})",
                    success: function (data) {
                        if (data.success == true) {
                            window.location.href = '@Url.Action("Index", "Companhia")';
                        }
                        else {
                            $.notify(data.message, "error");
                        }
                    }
                });
        });
    });

</script>