@model ViaturaTipoViewModel
@{
    ViewBag.Title = "Tipo da Viatura: " + Model.ViaturaTipo.Sigla;
    ViewBag.Breadcrumbs = new List<Breadcrumb>()
{
new Breadcrumb() { Name = "Dashboard", Link = "/" },
new Breadcrumb() { Name = "Tipo da Viatura", Link = @Url.Action("Index","ViaturaTipo")},
new Breadcrumb() { Name = Model.ViaturaTipo.Sigla, Link = @Url.Action("Detail","ViaturaTipo", new { @id = Model.ViaturaTipo.Id }), IsActive = true}
};
    ViewData["DeleteButtonLink"] = Url.Action("Delete", "ViaturaTipo", new { @id = Model.ViaturaTipo.Id });
}



<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    @Html.HiddenFor(x => x.ViaturaTipo.Id)

                    <div class="form-group">
                        <label class="form-label">@Html.DisplayNameFor(m => m.ViaturaTipo.Sigla)</label>
                        @Html.TextBoxFor(m => m.ViaturaTipo.Sigla, new { @class = "form-control", @type = "text", @required = "required" })
                    </div>

                    <div class="form-group">
                        <label class="form-label">@Html.DisplayNameFor(m => m.ViaturaTipo.Descricao)</label>
                        @Html.TextBoxFor(m => m.ViaturaTipo.Descricao, new { @class = "form-control", @type = "text", @required = "required" })
                    </div>
                </form>
                <div class="form-group mb-0">
                    <div>

                        <button id="SaveViaturaTipo" class="btn btn-primary waves-effect waves-light">Salvar</button>
                        <button type="reset" class="btn btn-secondary waves-effect m-l-5" onclick="location.href='@Url.Action("Index", "ViaturaTipo")'">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <partial name="~/Views/ViaturaTipoFuncao/_ViaturaTipoFuncao.cshtml" model="Model.ViaturaTipoFuncoes" />
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {

        if ("@(ViewData["MessageCreate"])" != "") {
            $.notify("@(ViewData["MessageCreate"])", "success");
        }

        $("#SaveViaturaTipo").click(function (e) {

            e.preventDefault();

            $.ajax({
                url: '@Url.Action("Edit","ViaturaTipo")',
                type: "POST",
                datatype: "json",
                data: $("#form").serialize()
            })
            .done(function (data) {
                if (data.success == true) {
                    $.notify(data.message, "success");
                }
                else {
                    $.notify(data.message, "error");
                }
            })
        });



        $('#Excluir').click(function () {
            $.ajax(
                {
                    type: "Delete",
                    url: "@Url.Action("Delete", "ViaturaTipo", new { @id = Model.ViaturaTipo.Id })",
                    success: function (data) {
                        if (data.success == true) {
                            window.location.href = '@Url.Action("Index", "ViaturaTipo", new { @notification = true })';
                        }
                        else {
                            $.notify(data.message, "error");
                        }
                    }
                });
        });
    });

</script>