@model IEnumerable<ViaturaTipo>
@{
    ViewBag.Title = "Tipo da Viatura";
    ViewBag.Breadcrumbs = new List<Breadcrumb>()
    {
        new Breadcrumb() { Name = "Dashboard", Link = "/" },
        new Breadcrumb() { Name = "Tipo da Viatura", Link = @Url.Action("Index","ViaturaTipo"), IsActive = true}
    };


    ViewData["CreateButtonLink"] = Url.Action("Create", "ViaturaTipo");
}

<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(x => x.Sigla)</th>
                            <th>@Html.DisplayNameFor(x => x.Descricao)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var viaturaTipo in Model)
                        {
                        <tr>
                            <td><a href="@Url.Action("Detail", "ViaturaTipo", new {id = viaturaTipo.Id})">@viaturaTipo.Sigla</a></td>
                            <td>@viaturaTipo.Descricao</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




