@model QuartelViewModel
@{
    ViewBag.Title = "Quartel: " + Model.Quartel.Nome;
    ViewBag.Breadcrumbs = new List<Breadcrumb>()
{
new Breadcrumb() { Name = "Dashboard", Link = "/" },
new Breadcrumb() { Name = "Quartel", Link = @Url.Action("Index","Quartel")},
new Breadcrumb() { Name = Model.Quartel.Nome, Link = @Url.Action("Detail","Quartel", new { @id = Model.Quartel.Id }), IsActive = true}
};
    ViewData["DeleteButtonLink"] = Url.Action("Delete", "Quartel", new { @id = Model.Quartel.Id });
}



<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    @Html.HiddenFor(x => x.Quartel.Id)

                    <div class="form-group">
                        <label class="form-label">@Html.DisplayNameFor(m => m.Quartel.Nome)</label>
                        @Html.TextBoxFor(m => m.Quartel.Nome, new { @class = "form-control", @type = "text", @required = "required" })
                    </div>
                    <div class="form-group">
                        <label>Batalhão</label>
                        <div>
                            <select class="form-control" asp-for="Quartel.CompanhiaId" asp-items="@(new SelectList(@Model.Quartel.Companhias,"Id","Nome"))">
                                @*<option value="">None</option>*@
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Contabilizar contingente para o Portão?</label>
                        <div>
                            <input type="checkbox" asp-for="Quartel.Portao" id="Portao" switch="success" @*checked="checked" *@>
                            <label for="Portao" data-on-label="Sim" data-off-label="Não"></label>
                        </div>
                    </div>
                </form>
                <div class="form-group mb-0">
                    <div>

                        <button id="SaveQuartel" class="btn btn-primary waves-effect waves-light">Salvar</button>
                        <button type="reset" class="btn btn-secondary waves-effect m-l-5" onclick="location.href='@Url.Action("Index", "Quartel")'">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        @*<partial name="~/Views/QuartelViatura/_QuartelViatura.cshtml" model="Model.QuartelViaturas" />*@

        <div class="card m-b-20">
            <div class="card-body">
                <h4 class="mt-0 header-title">Viatura por Quartel</h4>
                <br />
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th style="width: 60%;">Matrícula</th>
                            <th style="width: 30%;">Sigla</th>
                            <th style="width: 10%;"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            foreach (var quartelViatura in Model.QuartelViaturas.OrderBy(x => x.Viatura.Matricula))
                            {
                                <tr class="quartelViaturaLine" data-quartelViaturaId="@quartelViatura.Id">
                                    <td style="width: 60%;">@quartelViatura.Viatura.Matricula</td>
                                    <td style="width: 30%;">@quartelViatura.Viatura.ViaturaTipo.Sigla</td>
                                    <td style="width: 10%;">
                                        <button type="button" class="btn btn-primary btn-sm waves-effect waves-light quartelViaturaDelete">Excluir</button>
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td style="width: 60%;">
                                <select id="ddlViaturas" class="form-control" asp-items="@(new SelectList(Model.Viaturas,"Id","Matricula"))"></select>
                            <td style="width: 40%;"></td>
                            <td style="width: 10%;">
                                <button id="quartelViaturaSave" type="button" class="btn btn-primary btn-sm waves-effect waves-light">Adicionar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {

        if ("@(ViewData["MessageCreate"])" != "") {
            $.notify("@(ViewData["MessageCreate"])", "success");
        }

        $("#SaveQuartel").click(function (e) {

            e.preventDefault();

            $.ajax({
                url: '@Url.Action("Edit", "Quartel")',
                type: "POST",
                datatype: "json",
                data: $("#form").serialize()
            })
            .done(function (data) {
                if (data.success == true) {
                    $.notify(data.message, "success");
                }
                else {
                    $.notify(data.message, "error");
                }
            })
        });



        $('#Excluir').click(function () {
            $.ajax(
                {
                    type: "Delete",
                    url: "@Url.Action("Delete", "Quartel", new { @id = Model.Quartel.Id })",
                    success: function (data) {
                        //if (data.ErrorMessage != "") {
                        //    $.notify(data.errorMessage, "error");
                        //}
                        //else {
                            window.location.href = '@Url.Action("Index", "Quartel")';
                        //}
                    }
                });
        });



        $("#quartelViaturaSave").click(function (element) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Create", "QuartelViatura")",
                data: {
                    quartelId: $("#Quartel_Id").val(),
                    viaturaId: $("#ddlViaturas option:selected").val()
                },
                success: function (data) {
                    if (data.success == true) {
                        $.notify(data.message, "success");
                    }
                    else {
                        $.notify(data.message, "error");
                    }
                }
            });
        });


        $(".quartelViaturaDelete").click(function (element) {
            var id = $(element.currentTarget).closest('.quartelViaturaLine').attr("data-quartelViaturaId");
             $.ajax(
                {
                    type: "Delete",
                    url: "@Url.Action("Delete", "QuartelViatura")",
                    data: { id: id},
                    success: function (data) {
                        if (data.success == true) {
                            $(element.currentTarget).closest('.quartelViaturaLine').remove();
                            $.notify(data.message, "success");
                        }
                        else {
                            $.notify(data.message, "error");
                        }
                    }
                });
        })

    });

</script>