@model IEnumerable<RSBAtualDiarioViewModel>

@{
    ViewBag.Title = "Regimento Sapadores Bombeiros - Dispositivo Atual (" +  DateTime.Now.ToString("dd/MM/yyyy") + ")";
    ViewBag.Breadcrumbs = new List<Breadcrumb>()
{
new Breadcrumb() { Name = "Dashboard", Link = "/" },
new Breadcrumb() { Name = "Regimento Sapadores Bombeiros - Dispositivo Atual", Link = @Url.Action("QuartelMapa","Quartel"), IsActive = true}
};
}

@{
    List<Batalhao> batalhoes = Model.Select(m => m.Quartel.Companhia.Batalhao).Distinct().ToList();
}


@{foreach (var batalhao in batalhoes.OrderBy(x => x.Nome))
    {
        <br/>
        <center><h2 class="mt-0 header-title">@batalhao.Nome</h2></center>
        <br/>
        <div class="row">
            @foreach (var quartel in @Model.Where(x => x.Quartel.Companhia.BatalhaoId == batalhao.Id).OrderBy(x => x.Quartel.Companhia.Nome))
            {
                <div class="col-xl-12 col-md-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <center><h4 class="mt-0 header-title">@quartel.Quartel.Nome</h4></center>
                            <center><p class="text-muted m-b-30">@quartel.Quartel.Companhia.Nome</p></center>
                            <div class="row">
                                <div class="col-xl-6 col-md-6">
                                    <center><p><b>Período Diurno</b></p></center>
                                    <ul>
                                        <li>Nº de Bombeiros necessários: @quartel.QuantidadeFuncoesDiurnoViewModel.Sum(x => x.Quantidade)</li>
                                        <li>Nº de Bombeiros real: @quartel.BombeirosDiurno.Count()</li>
                                    </ul>

                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active show" data-toggle="tab" href="#tabFuncoesD_@quartel.Quartel.Id" role="tab" aria-selected="true">Funções</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tabVeiculosD_@quartel.Quartel.Id" role="tab" aria-selected="false">Viaturas (@quartel.QuartelViaturaViewModel.QuartelViaturas.Count())</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tabBombeirosD_@quartel.Quartel.Id" role="tab" aria-selected="false">Bombeiros (@quartel.BombeirosDiurno.Count())</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane active p-3" id="tabFuncoesD_@quartel.Quartel.Id" role="tabpanel">
                                            @foreach (var funcao in quartel.QuantidadeFuncoesDiurnoViewModel)
                                            {
                                                <p class="mb-0">@funcao.FuncaoNome-@funcao.Quantidade</p>
                                            }
                                        </div>
                                        <div class="tab-pane p-3" id="tabVeiculosD_@quartel.Quartel.Id" role="tabpanel">
                                            @foreach (var viatura in quartel.QuartelViaturaViewModel.QuartelViaturas.OrderBy(x => x.Viatura.ViaturaTipo.Sigla))
                                            {
                                                <p class="mb-0"><a href=@Url.Action("Detail", "Viatura", new { @id = viatura.Viatura.Id })>@viatura.Viatura.Matricula</a> | <a href=@Url.Action("Detail", "ViaturaTipo", new { @id = viatura.Viatura.ViaturaTipo.Id })>@viatura.Viatura.ViaturaTipo.Sigla</a></p>
                                            }
                                        </div>
                                        <div class="tab-pane p-3" id="tabBombeirosD_@quartel.Quartel.Id" role="tabpanel">
                                            @foreach (var bombeiro in quartel.BombeirosDiurno.OrderBy(x => x.Nome))
                                            {
                                                <p class="mb-0"><a href=@Url.Action("Detail", "Bombeiro", new { @id = bombeiro.Id })>@bombeiro.Nome</a></p>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-md-6">
                                    <center><p><b>Período Noturno</b></p></center>
                                    <ul>
                                        <li>Nº de Bombeiros necessários: @quartel.QuantidadeFuncoesNoturnoViewModel.Sum(x => x.Quantidade)</li>
                                        <li>Nº de Bombeiros real: @quartel.BombeirosNoturno.Count()</li>
                                    </ul>

                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active show" data-toggle="tab" href="#tabFuncoesN_@quartel.Quartel.Id" role="tab" aria-selected="true">Funções</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tabVeiculosN_@quartel.Quartel.Id" role="tab" aria-selected="false">Viaturas (@quartel.QuartelViaturaViewModel.QuartelViaturas.Count())</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tabBombeirosN_@quartel.Quartel.Id" role="tab" aria-selected="false">Bombeiros (@quartel.BombeirosNoturno.Count())</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane active p-3" id="tabFuncoesN_@quartel.Quartel.Id" role="tabpanel">
                                            @foreach (var funcao in quartel.QuantidadeFuncoesNoturnoViewModel)
                                            {
                                                <p class="mb-0">@funcao.FuncaoNome-@funcao.Quantidade</p>
                                            }
                                        </div>
                                        <div class="tab-pane p-3" id="tabVeiculosN_@quartel.Quartel.Id" role="tabpanel">
                                            @foreach (var viatura in quartel.QuartelViaturaViewModel.QuartelViaturas.OrderBy(x => x.Viatura.ViaturaTipo.Sigla))
                                            {
                                                <p class="mb-0"><a href=@Url.Action("Detail", "Viatura", new { @id = viatura.Viatura.Id })>@viatura.Viatura.Matricula</a> | <a href=@Url.Action("Detail", "ViaturaTipo", new { @id = viatura.Viatura.ViaturaTipo.Id })>@viatura.Viatura.ViaturaTipo.Sigla</a></p>
                                            }
                                        </div>
                                        <div class="tab-pane p-3" id="tabBombeirosN_@quartel.Quartel.Id" role="tabpanel">
                                            @foreach (var bombeiro in quartel.BombeirosNoturno.OrderBy(x => x.Nome))
                                            {
                                                <p class="mb-0"><a href=@Url.Action("Detail", "Bombeiro", new { @id = bombeiro.Id })>@bombeiro.Nome</a></p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
    }
}

@*//<ul class="list-unstyled">*@
