@model Escala

@{
    ViewBag.Title = "Dispositivo Mínimo";
    ViewBag.Breadcrumbs = new List<Breadcrumb>()
{
new Breadcrumb() { Name = "Dashboard", Link = "/" },
new Breadcrumb() { Name = "Dispositivo Mínimo", Link = @Url.Action("Index","DispositivoMinimo"), IsActive = true}
};
}

<style>
    .event-negative {
        border-color: #212529;
        background-color: #a90707;
        line-height: 1.0;
    }

    .event-ok {
        border-color: #212529;
        background-color: #497d38;
        line-height: 1.0;
    }

    .event-positive {
        border-color: #212529;
        background-color: #d49a45;
        line-height: 1.0;
    }
</style>


<div class="row">
    <input id="dtEscala" type="hidden" value="">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-7">
                            <label>@Html.DisplayNameFor(x => x.QuartelId)</label>
                            <div>
                                <select class="form-control" id="quartelId" asp-items="@(new SelectList(@Model.Quarteis,"Id","Nome"))">
                                    @*<option value="">None</option>*@
                                </select>

                            </div>
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-4">
                            <label>@Html.DisplayNameFor(x => x.PeriodoDiurno)</label>
                            <div>
                                <input type="checkbox" id="PeriodoDiurno" switch="success" checked="checked" data-val="true" name="PeriodoDiurno" value="true">
                                <label for="PeriodoDiurno" data-on-label="Sim" data-off-label="Não"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">

                <div id="dispositivoMinimoFuncaoContainer">

                </div>

            </div>
        </div>
    </div>

    <div class="col-7">
        <div class="card">
            <div class="card-body">
                <div id="calendar"></div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

$(document).ready(function ()
{
    var currentDate = $.datepicker.formatDate('yy-mm-dd', new Date());

    var $calendar = $('#calendar');
    $calendar.fullCalendar({
        ignoreTimezone: false,
        monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
        dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado'],
        dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
        titleFormat: {
                month: 'MMMM yyyy',
        },
        buttonText: {
                today: "Hoje",
        },
        dayClick: function (date, jsEvent, view) {
            SetForm(date.format())
        },
        eventClick: function (calEvent, jsEvent, view) {
            SetForm(calEvent.start.format())
        },
        viewRender: function (view, element) {
            $("#calendar").LoadingOverlay("show");
                var currentDay=$('#calendar').fullCalendar('getDate');
                $("#calendar").fullCalendar('removeEvents');
                $.ajax({
                    type: "POST",
                    url: '@Url.RouteUrl(new{ action= "GetDispositivoMinimoByQuartel", controller="DispositivoMinimo"})',
                    data: {
                        calendarDate: currentDay.format(),
                        turno: 1,
                        quartelId: $("#quartelId").val(),
                        periodoDiurno: $('#PeriodoDiurno').prop('checked')
                    }
                    , success: function (data) {
                        renderEvents(data);
                    }
                    , error: function (error) {
                        alert('failed');
                    }
                });
            },
        header: {
                left: "title", right: "prev,next today"
        },
        titleFormat: {
                month: "MMMM YYYY", week: "MMMM YYYY", day: "MMMM YYYY"
        },
        firstDay: 1, //The day that each week begins (Monday=1)
    });

    SetForm(currentDate);



    function renderEvents(data) {
        $.each(data, function (i, event) {
            $calendar.fullCalendar('renderEvent',
                {
                    id: event.id,
                    title: event.title,
                    start: moment(event.start),
                    allDay: true,
                    className: event.className
                }, true);
        });
        $("#calendar").LoadingOverlay("hide");
    }
    });


    $("#quartelId").change(function () {
        $("#bombeiroFuncaoSection").remove();
        refreshCalendar($('#calendar').fullCalendar('getDate').format());
    });


    $("#PeriodoDiurno").change(function () {
        $("#bombeiroFuncaoSection").remove();
        refreshCalendar($('#calendar').fullCalendar('getDate').format());
    });


    function refreshCalendar(currentDay) {
        $("#calendar").LoadingOverlay("show");
        $("#calendar").fullCalendar('removeEvents');
        $.ajax({
            type: "POST",
            url: '@Url.RouteUrl(new{ action= "GetDispositivoMinimoByQuartel", controller="DispositivoMinimo"})',
            data: {
                calendarDate: currentDay,
                quartelId: $("#quartelId").val(),
                periodoDiurno: $('#PeriodoDiurno').prop('checked')
            }
            , success: function (data) {
                renderEvents(data);
            }
            , error: function (error) {
                alert('failed');
            }
        });
    }
    function renderEvents(data) {
        $.each(data, function (i, event) {
            $("#calendar").fullCalendar('renderEvent',
                {
                    id: event.id,
                    title: event.title,
                    start: moment(event.start),
                    allDay: true,
                    className: event.className
                }, true);
        });
        $("#calendar").LoadingOverlay("hide");
    }


    function SetForm(dtEscala) {
        $("#dtEscala").val(dtEscala);

        $('[data-date]').css('background-color', '');
        $('[data-date="' + dtEscala + '"]').css('background-color', 'rgb(217, 90, 111)');

        $("#bombeiroFuncaoSection").remove();
        $("#dispositivoMinimoFuncaoContainer").load('/dispositivoMinimo/getBombeirosFuncao',
            {
                quartelId: $("#quartelId").val(),
                dtEscala: dtEscala, 
                periodoDiurno: $('#PeriodoDiurno').prop('checked'),
            });
    }

</script>
