@model BombeiroViewModel
@using MapaDaForca.Model.Enums

@{
    ViewBag.Title = "Bombeiro: " + Model.Bombeiro.Nome;
    ViewBag.Breadcrumbs = new List<Breadcrumb>()
{
new Breadcrumb() { Name = "Dashboard", Link = "/" },
new Breadcrumb() { Name = "Bombeiro", Link = @Url.Action("Index","Bombeiro")},
new Breadcrumb() { Name = Model.Bombeiro.Nome, Link = @Url.Action("Detail","Bombeiro", new { @id = Model.Bombeiro.Id })},
new Breadcrumb() { Name = "Escala", Link = @Url.Action("Escala","Bombeiro", new { @id = Model.Bombeiro.Id }), IsActive = true}
};
}


<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    <input id="BombeiroId" type="hidden" value="">
                    <input id="PeriodoNoturnoId" type="hidden" value="">

                    <div class="form-group">
                        <label>Dia</label>
                        <div class="input-group">
                            <input id="DtEscalaTurno" type="date" class="form-control" placeholder="dd/mm/yyyy">
                            <div class="input-group-append"><span class="input-group-text"><i class="mdi mdi-calendar"></i></span></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Função</label>
                        <select class="form-control" id="TurnoDiurno" asp-items="@Html.GetEnumSelectList<Turno>()"></select>
                    </div>

                    <div class="form-group">
                        <label>Quartel</label>
                        <select class="form-control" id="TurnoDiurno" asp-items="@Html.GetEnumSelectList<Turno>()"></select>
                    </div>

                    <div class="form-group">
                        <label>Tipo Escala</label>
                        <select class="form-control" id="TurnoDiurno" asp-items="@Html.GetEnumSelectList<Turno>()"></select>
                    </div>

                    <div class="form-group">
                        <label>Período Diurno</label>
                        <select class="form-control" id="TurnoDiurno" asp-items="@Html.GetEnumSelectList<Turno>()"></select>
                    </div>
                </form>
                <div class="form-group mb-0">
                    <div>
                        <button id="SaveBombeiroEscala" class="btn btn-primary waves-effect waves-light">Salvar</button>
                        <button id="SaveBombeiroEscalaAno" class="btn btn-primary waves-effect waves-light">Salvar Ano</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="card m-b-30">
            <div class="card-body">
                <div id="calendar"></div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

$(document).ready(function () {
    var currentDate = $.datepicker.formatDate('yy-mm-dd', new Date());
    @*var tt = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model) as String);*@
    SetForm(currentDate);

    var $calendar = $('#calendar');

        $calendar.fullCalendar({
            ignoreTimezone: false,
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            titleFormat: {
                    month: 'MMMM yyyy',
            },
            buttonText: {
                    today: "Hoje",
            },
            viewRender: function (view, element) {
                var currentDay=$('#calendar').fullCalendar('getDate');
                $("#calendar").fullCalendar('removeEvents');
                $.ajax( {
                    type: "POST",
                    url: '@Url.RouteUrl(new{ action= "GetEvents", controller="Bombeiro"})',
                    data: {
                        bombeiroId: '@Model.Bombeiro.Id',
                        calendarDate: currentDay.format()
                    }
                    , success: function (data) {
                        renderEvents(data);
                    }
                    , error: function (error) {
                        alert('failed');
                    }
                });
            },
            dayClick: function (date, jsEvent, view) {
                SetForm(date.format())
            },
            eventClick: function (calEvent, jsEvent, view) {
                SetForm(calEvent.start.format())
            },
            header: {
                    left: "title", right: "prev,next today"
            },
            titleFormat: {
                    month: "MMMM YYYY", week: "MMMM YYYY", day: "MMMM YYYY"
            },
        	firstDay: 1, //The day that each week begins (Monday=1)
        });

		function renderEvents(data) {
			$.each(data, function (i, event) {
				$calendar.fullCalendar('renderEvent',
				{
					id: event.id,
                   	title: event.title,
                    start: moment(event.start),
                    allDay: true
				}, true);
            });
        }
    });


    $("#SaveEscalaTurno").click(function () {
        $.ajax({
            url: '@Url.Action("SaveByDate", "EscalaTurno")',
            type: "POST",
            data: {
                dtEscalaTurno: $("#DtEscalaTurno").val(),
                periodoDiurnoId: $("#PeriodoDiurnoId").val(),
                periodoNoturnoId: $("#PeriodoNoturnoId").val(),
                turnoDiurno: $("#TurnoDiurno").val(),
                turnoNoturno: $("#TurnoNoturno").val()
            }
        })
        .done(function (data) {
            $.notify(data.message, "success");
            $("#calendar").fullCalendar('removeEvents', $("#PeriodoDiurnoId").val());
            $('#calendar').fullCalendar('renderEvent', { id: $("#PeriodoDiurnoId").val(), title: 'D - Turno ' + $("#TurnoDiurno").val(), start: $("#DtEscalaTurno").val()}, true );
            $("#calendar").fullCalendar('removeEvents', $("#PeriodoNoturnoId").val());
            $('#calendar').fullCalendar('renderEvent', { id: $("#PeriodoNoturnoId").val(), title: 'N - Turno ' + $("#TurnoNoturno").val(), start: $("#DtEscalaTurno").val() }, true);

        })
    });

    function SetForm(dtEscalaTurno) {
        $("#DtEscalaTurno").val(dtEscalaTurno);
        $.ajax({
            dataType: "json",
            url: "@Url.Action("GetByData", "EscalaTurno")",
            data: {
                dtEscalaTurno: dtEscalaTurno
            },
            success: function (data) {
                $.each(data.escalaTurnos, function (key, escalaTurno) {
                    if (escalaTurno.periodoDiurno == true) {
                        $("#PeriodoDiurnoId").val(escalaTurno.id);
                        $("#TurnoDiurno").val(escalaTurno.turno);
                    }
                    else
                    {
                        $("#PeriodoNoturnoId").val(escalaTurno.id);
                        $("#TurnoNoturno").val(escalaTurno.turno);
                    }
                });
            }
        });
    }

    $("#SaveBombeiroEscalaAno").click(function () {
         var year = prompt("Favor informar o ano", (new Date).getFullYear());
         $.ajax({
             url: '@Url.Action("SaveYear", "Bombeiro")',
             type: "POST",
             data: {
                 bombeiroId: '@Model.Bombeiro.Id', 
                 year: year
             }
         })
         .done(function () {
             window.location.href = '@Url.Action("Escala","Bombeiro", new { @id = Model.Bombeiro.Id })';
         })
    });

</script>

