@model IEnumerable<Bombeiro>
@using MapaDaForca.Helper;

@{
    ViewBag.Title = "Bombeiro";
    ViewBag.Breadcrumbs = new List<Breadcrumb>()
{
new Breadcrumb() { Name = "Dashboard", Link = "/" },
new Breadcrumb() { Name = "Bombeiro", Link = @Url.Action("Index","Bombeiro"), IsActive = true}
};


    ViewData["CreateButtonLink"] = Url.Action("Create", "Bombeiro");
}

<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(x => x.Nome)</th>
                            <th>@Html.DisplayNameFor(x => x.DtInicio)</th>
                            <th>@Html.DisplayNameFor(x => x.Posto)</th>
                            <th>@Html.DisplayNameFor(x => x.Quartel)</th>
                            <th>@Html.DisplayNameFor(x => x.Turno)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bombeiro in Model)
                        {
                            <tr>
                                <td><a href="@Url.Action("Detail", "Bombeiro", new {id = bombeiro.Id})">@bombeiro.Nome</a></td>
                                <td>@bombeiro.DtInicio.ToString("d")</td>
                                <td>@bombeiro.Posto.Nome</td>
                                <td>@bombeiro.Quartel.Nome</td>
                                <td>@bombeiro.Turno.EnumDisplayNameFor()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




