@model Viatura
@{
    ViewBag.Title = "Cadastrar Viatura";
    ViewBag.Breadcrumbs = new List<Breadcrumb>()
{
new Breadcrumb() { Name = "Dashboard", Link = "/" },
new Breadcrumb() { Name = "Viatura", Link = @Url.Action("Index","Viatura") },
new Breadcrumb() { Name = "Cadastrar", Link = @Url.Action("Create","Viatura"), IsActive = true}
};
}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <form method="post" action="/viatura/create">
                    <div class="form-group">
                        <label>Matrícula</label>
                        <div>
                            <input class="form-control" asp-for="Matricula" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tipo da Viatura</label>
                        <div>
                            <select class="form-control" asp-for="ViaturaTipoId" asp-items="@(new SelectList(@Model.ViaturaTipos,"Id","Sigla"))">
                                @*<option value="">None</option>*@
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Codigo RSB</label>
                        <div class="form-group">
                            <input asp-for="CodigoRSB" class="form-control" required>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Operacional?</label>
                        <div>
                            <input type="checkbox" asp-for="Operacional" id="Operacional" switch="success">
                            <label for="Operacional" data-on-label="Sim" data-off-label="Não"></label>
                        </div>
                    </div>


                    <div class="form-group mb-0">
                        <div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Cadastrar</button>
                            <button type="reset" class="btn btn-secondary waves-effect m-l-5" onclick="location.href='@Url.Action("Index", "Viatura")'">Voltar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
